body
{
  color:            #000;
  background-color: #FFF;

  margin:    1ex auto 10ex;
  padding:   0;
  max-width: 65em;
}

body
{
  font-family:         "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:         500;
}

h1, h2, h3, button, #output th
{
  font-family:         "Hepta Slab", serif;
  font-optical-sizing: auto;
  font-weight:         600;
}

h1, h2
{
  display:   inline;
  font-size: 250%;
}

h1
{
  padding-right: 0.2em;
}

h2
{
  color: #04BB00;
}

h3
{
  color: #888;
  font-size: 160%;
}

h3 > strong
{
  font-weight:   inherit;
  color:         #000;
  padding-right: 0.2em;
}

#input p
{
  max-width:   48em;
  line-height: 1.4;
}

table
{
  border-spacing: 1em 0;
  margin:         0   -1em;
}

th
{
  text-align: left;
}

tr > :nth-of-type(1):not([colspan]) { background-color: #FEEDD9 }
tr > :nth-of-type(2):not([colspan]) { background-color: #E0D6EE }
tr > :nth-of-type(3):not([colspan]) { background-color: #E0E8F2 }
tr > :nth-of-type(4):not([colspan]) { background-color: #E3EDE4 }
#input th                           { background-color: transparent }

#input td
{
  width:   12em;
  padding: 0.5ex 0.5em;
}

#input input
{
  width: 95%;
}

#input select
{
  width: 100%;
}

button
{
  background-color: #04BB00;
  color:            #FFF;
  font-size:        110%;
  padding:          0.5ex 0.5em;
  border-style:     none;
  border-radius:    0.7ex;
}

button:hover
{
  background-color: #04A700;
  color:            #FF6;
}

#input  { margin-bottom: 1.5ex }
#output { margin-top:    3.5ex }

#output > table
{
  width:        100%;
  table-layout: fixed;
}

#output td, #output th
{
  padding:        0.5ex 0.5em;
  vertical-align: top;
}

#output td[colspan]
{
  padding-left:  0;
  padding-right: 0;
}

#output td > :first-child { margin-top:    0 }
#output td > :last-child  { margin-bottom: 0 }
#output h3 { padding: 2ex 0 0.5ex }

@media print
{
  #input { display: none }

  h1, h2 { font-size: 180% }
  h3     { font-size: 140% }
}
